<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  
  <div class="row">
    <div class="col-md-9">
        <h1 class="asset-title" id='assetName'>Patient</h1>
    </div>
    <div class="col-md-3">

      <div>

        <input [(ngModel)]="patientId" type="text" placeholder="Click here to search" class="form-control">
        <input [(ngModel)]="privPatientKey" type="text" placeholder="Click here to decrypt" class="form-control">
        <button (click)="getForm(patientId);" type="submit" class="btn btn-success" data-dismiss="modal">Confirm</button>


      </div>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">Patient Id</th>
            
                <th class="info">Physician Id</th>
            
                <th class="info">Medication Concept Id</th>
            
              <th class="info-actions">Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td class="asset-properties">{{asset.patient}}</td>
            
                <td class="asset-properties">{{asset.physician}}</td>
            
                <td class="asset-properties">{{asset.medConceptID}}</td>

                <td class="asset-properties">{{asset.timestamp}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



